.cardContainer
{
    display:flex;
    flex-direction: column;
    background-color: darkgrey;
    margin:1rem;
    padding: 1rem;
}
.imagetop{
    width: 100x;
    height:100px;
    position: relative;
}